# system
.DS_Store
.idea/

# temp
temp
*.log
*.cache
*.diff
*.patch
*.tmp
.turbo
.eslintcache

# coverage
coverage/
*.lcov

# jest cache
.jest-cache/

# dependencies
node_modules/

# others
lib/
esm/
*.local.*
