# System
.DS_Store/
.idea/

# Cache
.vitest-cache/
.pnpm-store/
.turbo/
*.cache
.eslintcache

# Temporary
temp/
*.log
*.diff
*.patch
*.tmp

# Coverage
coverage/
*.lcov

# Dependency
node_modules/

# Build
dist/
esm/
lib/

# Other
*.local.*
